.app {
  display: flex;
  height: 100vh;
  /* margin-left: 20px; */
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.element-panel {
  width: 20%;
  background: #f7f7f7;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.canvas {
  flex: 1;
  position: relative;
  background: #fafafa;
  border: 2px dashed #ddd;
}

.draggable-element {
  position: relative;
}

.properties-panel {
  width: 20%;
  padding: 15px;
  background: #f9f9f9;
  border-left: 1px solid #ddd;
}
